---
import Layout from '../layouts/Layout.astro';
import GrilledMeatVeg from '../components/GrilledMeatVeg.astro';
import Skewers from '../components/Skewers.astro';
import Stews from '../components/Stews.astro';
import Rice from '../components/Rice.astro';
import Cakes from '../components/Cakes.astro';
import Casseroles from '../components/Casseroles.astro';
import Drinks from '../components/Drinks.astro';
import Pasta from '../components/Pasta.astro';
import Soups from '../components/Soups.astro';
---

<Layout title='Welcome to the ScumYum'>
  <main class='specialElite'>
    <div class='container'>
      <h1>
        <div class='logo'>
          <div class='scum'>Scum</div>
          <div class='yum'>Yum</div>
        </div>
        Restaurant Menu
      </h1>
      <div id='menu' class='menu'>
        <GrilledMeatVeg />
        <Skewers />
        <Stews />
        <Rice />
        <Cakes />
        <Casseroles />
        <Drinks />
        <Pasta />
        <Soups />
      </div>
    </div>
  </main>
</Layout>

<style is:global>
  :root {
    --body-color: #f8f8f8;
    --secondary: #f8f8f8;
  }
  body {
    background: url('../assets/images/black-chalkboard.webp') no-repeat center
      center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--body-color);
    font-size: clamp(18px, 1.25vw, 32px);
    line-height: 1.5;
    padding: 1em;
  }
  .logo {
    text-transform: uppercase;
    font-size: 1.25em;
    line-height: 0.4;
    letter-spacing: -0.05em;
  }
  .logo:before {
    content: '';
    display: inline-block;
    width: 2.25em;
    height: 0.75em;
    background-color: var(--body-color);
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
  }
  .logo:after {
    content: '';
    display: inline-block;
    width: 2.25em;
    height: 0.35em;
    background-color: var(--body-color);
    border-top-left-radius: 0.125em;
    border-top-right-radius: 0.125em;
    border-bottom-left-radius: 0.125em;
    border-bottom-right-radius: 0.125em;
  }
  .logo > .scum {
    line-height: 1.2;
  }
  .logo > .yum {
    font-size: 1.25em;
  }
  h1 {
    text-align: center;
    margin: 2rem 0;
    font-size: 1.75em;
  }
  .menu {
    columns: 300px 3;
    column-gap: 4rem;
    column-rule: 1px solid var(--body-color);
  }
  .menu > div {
    display: flex;
    justify-content: center;
  }
  .category {
    max-width: 38rem;
    text-align: left;
    width: 100%;
  }
  h2.title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5em;
  }
  .item {
    display: inline-block;
    width: 100%;
    margin-bottom: 4rem;
  }
  .item > .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25em;
  }
  .title h3 {
    margin: 0;
  }
  .title .price {
    font-size: 1em;
    font-weight: 600;
  }
  P {
    margin: 0;
  }
</style>
